* {
    --corner-radius: 10px;
    --album-art-size: 200px;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    padding: 50px; /* Add padding to prevent content touching edges */
    box-sizing: border-box; /* Include padding in element's total width and height */
}

#statusContainer {
    font-weight: 500;
    font-size: 30px;
    text-align: center;
    background-color: #D12025;
    color: white;
    padding: 10px;
    border-radius: 10px;
    position: relative;
    opacity: 0;
}

#mainContainer {
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
    position: absolute;
    justify-self: center;
    filter: drop-shadow(15px 15px 7px rgba(0, 0, 0, 0.5));
    opacity: 1;
    transition: all 1s ease;
    width: 75vw;
    height: 75vh;
    margin: 0px; /* Center with auto margins */
    display: grid;
    align-items:center;
}

#albumArtBox {
    padding-left:50px;
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: var(--corner-radius);
}

#albumArt {
    width: 100%;
    height: 100%;
    top: 0%;
    border-radius: var(--corner-radius);
    justify-content: center;

}


#spotifyCodeBox{
    position: absolute;
    border-radius: var(--corner-radius);
    width: 800px;
    height: 200px;
    padding-left: 265px;
    filter: drop-shadow(15px 15px 7px rgba(0, 0, 0, 0.5));
}

#spotifyCode{
    width: 100%;
    height: 100%;
    border-radius: var(--corner-radius);
}

.text-show {
    opacity: 1;
    transition: all 0.25s ease;
}

.text-fade {
    opacity: 0;
    transition: all 0.25s ease;
}
